* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.hero, .skills, .socials {
  background-color: #141527;
}

.projects, .contact {
  background-color: #292A4A;

}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

h1 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Inconsolata', monospace;
  
}

p {
  margin: 50%;
  
}

/* Projects Section */
.projects {
  
 
}

.project img {
  border-radius: 5%;
  position: relative;
  right: 0;
}

.project{
  display: flex;
  justify-content:center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 10px;

}

.projects h2 {
  padding: 40px;
}



/* Projects Section End */

/* Skills */
.skill-badge {
  padding: 2%;
}



img[title]:hover::after{
  content: attr(title);
  position: absolute;
}

/* Skills End */

/* Contact Me*/
.form {
 padding: 2em;
 width: 30%;
}

.input, .textarea {
  margin-bottom: 5px;
}


.contact-header{
  position: relative;
}

.button {
  margin: 1em;
}
/* Contact Me*/

/* Footer */

.contact-logo, button {
  background-color: #141527;
  margin: 0, 100px, 0, 100px
}

.contact-logo {
  margin-left: 20px;
  margin-right: 20px;
}

.socials-header {
  text-align: center;
  margin-bottom: 20px;
}



/* Footer End */
