* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.hero, .skills, .socials {
  background-color: #141527;
}

.projects, .contact {
  background-color: #292A4A;

}

h1, h3, h4, h5, h6, p {
  color: white;
}

h1 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Inconsolata', monospace;
 color: rgb(238, 42, 140)
  
}

p {
  margin: 50%;
  
}

/* Header */
 
.about-me {
  text-align: justify;
  width: 40%;
  margin-top: 5%;
  font-size: 20px;
}

.hero-header {
  text-align: center;
}

span {
  color: rgb(238, 42, 140);
  font-family: 'Inconsolata', monospace;
}
/* Header End */

/* Projects Section */
.project p {
  text-align: justify;
  margin: 2em;
 
}

.project img {
  border-radius: 5%;
  position: relative;
  right: 0;
  width: 100%;
}

.project{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 10px;

}

.projects h2 {
  padding: 40px;
}

.text-width {
  max-width: 60em;
 
}

.img-width {
  width: 40em;
}

/* Projects Section End */

/* Skills */

.skill-badge {
  padding: 2%;
}


img[title]:hover::after{
  content: attr(title);
  position: absolute;
}

/* Skills End */

/* Contact Me*/

form {
 margin: 50px;
 padding: 50px;
 width: 40%;
}

.input, .textarea {
  margin-bottom: 5px;
}


.contact-header{
  position: relative;
}

.button {
  margin: 1em;
}

.sarah {
  max-width: 100%;
  padding: 20px;
}

.sarah-container {
  width: 35em;
}
/* Contact Me*/

/* Footer */

.contact-logo {
  margin-left: 20px;
  margin-right: 20px;
  width: 40%;
}

.contact-logo, button {
  background-color: #141527;

}
.socials-header {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(238, 42, 140);
  font-family: 'Inconsolata', monospace;
}



/* Footer End */
